---
const today = new Date();
---

<footer>
	<a href="https://pylar.org">Pylar AI Creative ML License</a>
	&copy; {today.getFullYear()}
	<!-- nombre de la web con link abajo -->
	<a href="https://miguelgargallo.com">Miguel Gargallo</a> All rights reserved.
	<p>Nomes utilitzem cookies esencials, no has de fer res.</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
