---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Adus Music. All rights reserved.
	<p>Nomes utilitzem cookies esencials, no has de fer res.</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
