---
const today = new Date();
---

<footer>
	<a
		href="https://huggingface.co/spaces/superdatas/LICENSE"
		target="_blank"
		rel="noopener noreferrer"
		title="SuperDatas License">SuperDatas License</a
	> &copy; {today.getFullYear()}
	<a>Desenvolupat per</a>
	<a
		href="https://miguelgargallo.com"
		target="_blank"
		rel="noopener noreferrer"
		title="Miguel Gargallo">Miguel Gargallo.</a
	> All rights reserved.
	<p>Nomes utilitzem cookies esencials, no has de fer res.</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
